<% content_for :title, "Studnet-List"%>
<body height="100%">
<p>This page lists all failed students</p>

<table align="center" border="1" height="100%" valign="middle">
	
	<% @failstud.each do|student| %>
	 <% if student.status=="fail" %>
	<tr rowspan="20"  ><th><%= (student.firstName+" "+student.lastName) %></th></tr>
	<% end %>
	<% end %>

</table>

</body>