<% content_for :title, "student-information"%>

<p>This page lists all the students</p>

<table border="1">
		<tr>
		<td><strong>Student ID</strong></td>
		<td><strong>Student Name</strong></td>
		<td><strong>Student phoneNumber</strong></td>
		<td><strong>Student email</strong></td>
	</tr>
	<% @students.each do|student| %>

	<tr>
		<td><%= (student.UID) %></td>
		<td><%= (student.firstName+" "+student.lastName) %></td>
		<td><%= (student.phoneNumber) %></td>
		<td><%= (student.email) %></td>
	</tr>

	<% end %>

</table>

