
<% provide(:title, "Review")%>

<h2>Review</h2>
 <ul>
    <li>uid: <%= @student.UID %></li>
    <li>uid: <%= @student.firstName %></li>
    <li>uid: <%= @student.lastName %></li>
   
</ul>
<p>
<%= link_to "Edit", edit_student_path(@student) %>
  
	</p>

