<% content_for :title, "Studnet-List"%>



<p>This page lists all the students</p>

<table border="1" height="20%">
	
	<% @students.each do|student| %>

	<tr><td><a href=""><%= (student.firstName+" "+student.lastName) %></a></td></tr>

	<% end %>

</table>

