<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
  </head>
   <body>
      <table class="bigtable" align="center" border="0" cellpadding="0" cellspacing="0">
            <td valign="top" colspan="3">
               <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                     <td >
                      <img src="/images/brandnew.jpg" border="0" width="174" height="94">
                     </td>
                     <td>
                      <img height="94" border="0" width="534" src="/images/honors_brand.jpg" align="left">
                     </td>
    <td class="search">
    <table border="0"  width="267" cellpadding="0" cellspacing="3" align="right"> &nbsp &nbsp &nbsp
       <tr>
            <td valign="middle" width="53%" align="left"><input name="searchterms" size="22" type="text" value="search " alt="search terms" id="searchterms"></td>
            <td valign="middle" width="10%" align="left"><input name="image" type="image" value="search" align="middle"></td>
        </tr>
    </table>
  </td>
</table>
  <% @students.each do|student| %>

  <tr height="20px"><td><a href=""><%= (student.firstName+" "+student.lastName) %></a></td></tr>
  <% end %>
  <!--<%= form_tag("studentList", method: "delete") do %>
  <tr><td height="60px"><%= submit_tag("Export") %><td> </tr>
  <% end %>--> 

  <tr height="80px"><td><%= link_to "Export to Excel", student_List_path(format: "csv")%> 
</td></tr>

</table>
           