 <% provide(:title, 'Add new course') %>
 
<link href="1.css" rel="stylesheet" type="text/css" /> 
<link type="text/css" rel="stylesheet" href="2.css" /> 
<style type="text/css">
    .form-label-left{
        width:150px !important;
    }
    .form-line{
        padding-top:12px;
        padding-bottom:12px;
    }
    .form-label-right{
        width:150px !important;
    }
    .form-all{
        width:650px;
        color:#555 !important;
        font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
        font-size:14px;
    }
</style>

<body>
<table class="bigtable" align="center" border="0" cellpadding="0" cellspacing="0" summary="www -  - ">
         <tbody><tr>
            <td valign="top" colspan="3" class="topstripes" align="left"><image_tag("/images/spacer.gif",size:"1")></td>
         </tr>
         <tr>
            <td valign="top" colspan="3">
               <table border="0" cellpadding="0" cellspacing="0" width="100%" summary="University of Memphis brand logo">
                  <tbody><tr>
                     <td class="logo">
                        <a href="http://www.memphis.edu/"><img src="/images/brandnew.jpg" alt="University of Memphis logo" border="0" width="174" height="89"></a>
                     </td>
                     <td class="motto">
                        <a href="http://www.memphis.edu/honors/" title="Honors Program"><img height="94" border="0" width="534" alt="Honors Program" src="/images/honors_brand.jpg" align="left"></a>
                     </td>
                     <td class="search">
                      
                     </td>
                  </tr>
               </tbody></table>
            </td>
         </tr>

</table>
<%= link_to "Home", root_path %>
</body>
<%= form_for(@course) do |f| %>
  <div class="form-all">
    <ul class="form-section page-section">
      <li id="cid_1" class="form-input-wide" data-type="control_head">
        <div class="form-header-group">
          <div class="header-text httal htvam">
            <h2 id="header_1" class="form-header">
              Add New Course
            </h2>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_4">
        <label class="form-label form-label-left form-label-auto" id="label_4" for="input_4"> Course Id </label>
        <div id="cid_4" class="form-input jf-required">
          <%= f.text_field :course_id, size: 25  %>  
           
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_3">
        <label class="form-label form-label-left form-label-auto" id="label_3" for="input_3"> Course Name</label>
        <div id="cid_3" class="form-input jf-required">
         <%= f.text_field :course_name, size: 25  %>
        </div>
      </li> 
      <li class="form-line" data-type="control_button" id="id_11">
        <div id="cid_11" class="form-input-wide">
          <div style="margin-left:o156px" class="form-buttons-wrapper">
            <button id="input_11" type="submit" class="form-submit-button">
              Submit
            </button>
            &nbsp;
            <button id="input_reset_11" type="reset" class="form-submit-reset">
              Clear Form
            </button>
          </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        
      </li>
    </ul>
  </div>
  
   
<% end %>